<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CompanyServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CompanyServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44310/CompanyService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CompanyServiceSoap"
                contract="CompanyService.CompanyServiceSoap" name="CompanyServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>